body{margin:0;height:100%;}

.fullrecipet{
    text-align: center;
	background: url("/Includes/img/cupcakesbg.jpg") center/cover fixed no-repeat;
    position: relative;
    margin:-10px;
}

.bgDetilesPage {
  background-image: url("/Includes/img/25101.jpg");
  background-size: cover;
}	 

table, th,td {
  background-color: #fee5fe;

}	

.details{
	font-weight: bold;
	text-align: center;
}

*{
    box-sizing: border-box;
    direction: rtl;
}
  
.columns {
    display:inline-block;
    text-align:center;
    width: 45.3%;
    padding: 8px;
}
  
  
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
  

.price:hover{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
  

.price .header {
    background-color: #c425e3;
    color: white;
    font-size: 25px;
}
  

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}
  
 
.price .grey {
    background-color: #e9aef5;
    font-size: 20px;
}
  

.button {
    background-color: #f87bf6;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
  

  