form {
    display: flex;
    flex-direction: column;
}

.checkboxGroup {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.checkboxGroup>* {
    margin-left: 1vh;
}

.checkboxGroup input {
    margin-left: 0.5vh;
}

.table {
    opacity: 0;
    transition: '1s';
}