form {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/* 
.form-fields {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
} */

.form-group {
    max-width: 500px;
}

.form-group>label,
.form-group>small {
    float: right;
}

button {
    width: fit-content;
}

.price-range {
    width: 100%;
    display: flex;
}

.price-range>input {
    min-width: 100px;
}

.price-range>p {
    align-self: center;
    margin: 0 0.5vh 0 0.5vh;
}

.form-check {
    float: right;
}

#categoriesGroup {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#categoriesGroup>* {
    margin-left: 1vh;
}

#categoriesGroup input {
    margin-left: 0.5vh;
}