form {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

/* 
.form-fields {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
} */

.form-row {
    max-width: 66vw;
}

.price-range {
    width: 100%;
    display: flex;
}

.price-range>input {
    min-width: 100px;
}

.price-range>p {
    align-self: center;
    margin: 0 0.5vh 0 0.5vh;
}

.form-check {
    float: right;
}

.checkboxGroup {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.checkboxGroup>* {
    margin-left: 1vh;
}

.checkboxGroup input {
    margin-left: 0.5vh;
}