@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");



html {
  scroll-behavior: smooth;
}

body {

  background: var(--mainWhite);
  color: var(--mainBlack);
}

.titlesecion {
      font-family: "Kaushan Script", cursive;
}

/* info icons */
.cart-info__icon {
  color: var(--mainBlack);
  cursor: pointer;
}

.cart-info {
  border: 0.1rem solid var(--mainBlack);
  color: var(--mainBlack);
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}
.cart-info:hover {
    background: var(--mainPink);
    border-color: var(--mainPink);
    color: var(--mainWhite);
}

.cart-info:hover .cart-info__icon {
  color: var(--mainWhite);
}
/* end of info icons */
/* banner */

.max-height {
    min-height: calc(100vh - 76px);
    background: linear-gradient(var(--yellowTrans), var(--yellowTrans));
    background-image: url("../Includes/img/cupcakesbg.jpg");
    background-size: cover;
    position: relative;
}


.banner {
  color: white;
  margin-top: -4rem;
}

.banner-title {
  color: var(--mainPink);
  font-size: 4rem;
}

.banner-link {
  font-size: 1.5rem;
  color: var(--mainBlack);
  border: 0.2rem solid var(--mainBlack);
}

.banner-link:hover {
  background: var(--mainBlack);
  color: var(--mainPink);
}
/* endo of banner */
/* cart  */
.cart {
  position: absolute;
  min-height: 10rem;
  background: var(--mainWhite);
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.5);
  width: 0;
  overflow: hidden;
}

.show-cart {
  width: 18rem;
  padding: 2rem 1.5rem;
  transform: rotateY(-360deg);
}
.cart-item {
  transition: all 2s ease-in-out;
}

.cart-item-remove {
  color: var(--mainPink);
  transition: all 1s ease-in-out;
}

.cart-item-remove:hover {
  transform: scale(1.1);
  color: var(--mainBlack);
}

#cart-item-price {
  font-size: 0.8rem;
}

/* cart item */
/* cart buttons */

.btn-pink {
  color: var(--mainPink) !important;
  border-color: var(--mainPink) !important;
}
.btn-black {
  color: var(--mainBlack) !important;
  border-color: var(--mainBlack) !important;
}
.btn-black:hover {
  color: var(--mainPink) !important;
  background: var(--mainBlack) !important;
}
.btn-pink:hover {
  background: var(--mainPink) !important;
  color: var(--mainBlack) !important;
}
/* end of cart buttons */

/* store items */
.store {
  background: var(--mainGrey);
}
.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.store-img {
  transition: all 1s ease-in-out;
}
.img-container:hover .store-img {
  transform: scale(1.2);
}

.store-item-value {
  color: --mainYellow;
}
/*end of  store items */
.search-box {
  background: var(--mainPink);
  color: var(--mainBlack);
}

/* ligthbox */

.lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6) !important;
  display: none;
}
.show {
  display: block;
}

.lightbox-holder {
  position: relative;
}
.lightbox-item {
  min-height: 80vh;
  background: url("/Includes/img/cake-1.jpeg") center/cover fixed no-repeat;
  border-radius: 0.3rem;
}
.lightbox-close {
  color: var(--mainPink);
  font-size: 3rem;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.lightbox-close:hover {
  color: var(--mainYellow);
}

.lightbox-control {
  position: absolute;
  font-size: 4rem;
  color: var(--mainPink);
  transition: all 1s linear;
  cursor: pointer;
}
.lightbox-control:hover {
  color: var(--mainYellow);
}
.btnLeft {
  top: 50%;
  left: 0;
  transform: translateX(-60%);
}
.btnRight {
  top: 50%;
  right: 0;
  transform: translateX(60%);
}
footer{
	display: block;
}

.store-img{
  height: 250px;
}
.jumbotron {
 
 
  background-color: orange;
	background-image: url("/Includes/img/flourless-mandarin-cake.jpg");
	background-size: cover;
	max-width: 100%;
    height: auto;
	
}


.img-bg-text{
text-shadow: #888 2px 2px 3px;
font-size: 1.5em;
}

*{
  direction: rtl;
}

.fullrecipet
  {
    text-align: center;
    margin-bottom: 150px;
	background-color: black;
  }

.details{
	font-weight: bold;
	text-align: center;
	
}


.fab {
  font-family: 'Font Awesome 5 Brands';
}
  
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url("/font/fa-regular-400.eot");
  src: url("/font/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("/font/fa-regular-400.woff2") format("woff2"), url("/font/fa-regular-400.woff") format("woff"), url("/font/fa-regular-400.ttf") format("truetype"), url("/font/fa-regular-400.svg#fontawesome") format("svg"); }

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;



.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }


* {
    box-sizing: border-box;
}
  
  .columns {
    display:inline-block;
    text-align:center;
    width: 45.3%;
    padding: 8px;
  }
  
  
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  

  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  

  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  

  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
 
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  

  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }
  